* {
    padding:0;
    margin:0;
    font-family:'Quicksand', sans-serif;
    color: #333;
}
header {
    height:70px;
}
header h1{
    display: inline-block;
    float:left;
    padding:16px 25px;
    text-transform: uppercase;
}
header h1 a:hover {
    color:red;
}
header h1 a{
    transition: 0.3s;
}
header ul {
    float: right;
}
header ul li {
    padding:25px;
    display:inline-block;
}
header ul li a{
    transition: 0.3s;
}
header ul li a:hover {
    color:red;
}
* {
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 0 auto ;
}
.container::after{
    content: '';
    display: block;
    clear: both;
}
.mobile-menu{
    float: right;
display: none;
padding: 25px;
}
.mobile-menu:hover;{
    cursor:pointer;
}
#check{
    display: none;
}
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(16, 47, 80, 0.9);
    transition: 0.3s;
}
.sidebar ul li a{
    color: white;
}
.sidebar ul li{
    padding: 24px;
    transition: 0.3s;
    transition-property: background-color;
}
.sidebar ul li:hover{
    background-color: red;
}
#check:checked ~.sidebar{
    left: 0;
}
.banner{
    background-color: blue;
    padding: 100px 0;
}
section{
    padding: 50px 0;
}
.banner img{
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 3px 5px#addd;
    margin-bottom: 10px;
}
.banner h2,
.banner  p1{
color: white;
}
.banner h2{
    margin-bottom: 10px;
}
.banner p1{
    font-size: 18px;
}
.banner-left{
    padding-left: 24px;
}
section h3{
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}
section h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: #ddd;
    left: 45%;
}
section h3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 40px;
    height: 4px;
    background-color:red;
    left: 48%;
}
#about p{
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 4px;
}
#skills ,
#Contact{
    background-color: #f9f9f9;
}
#skills .bar {
    height: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 5px 0 20 px 0;
}
.bar .nilai {
    height: 30px;
    background-color:blue;
    display: inline-block;
    color: #fff;
    text-align: center;
}
.HTML{
    width: 95%;
}
.CSS{
    width: 90%;
}
.BOOTSTRAP{
    width: 85%;
}
.JS{
    width: 80%;
}
.col-4{
    width: 25%;
    box-sizing: border-box;
    padding: 3 px;
    float: left;
    text-align: center;
}
.col-4 img {
    width: 90%;
}
.col-4 a:hover img {
        transform: scale(1.2);
}
.col-3 {
width: 33%;
box-sizing: border-box;
float:left;
text-align: center;
padding: 50px 10px;
}
.col-3 h4{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.col-2{
    width: 50%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 50px 10px;
}
.col-2 h4{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
footer {
    text-align: center;
    background-color: blue;
    padding: 30px;
}
footer small {
    color: white;
}
.medsos{
    background-color: blue;
}

html{
    scroll-behavior: smooth;
}
.col-5{
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
}
.col-5{
    width: 50%;
    height: 2%;
}
@media (max-width:768px){
    .mobile-menu {
        display: block;
    }
    header ul{
        display: none;
    }
    .col-4{
        width: 50%;
    }
    .col-3{
        width: 100%;
    }
}





